.card-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: var(--background-color);
}
header {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}
.card-dimensions {
  flex-basis: 340px;
  border: 1px solid black;
}
.card {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-header {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.basic-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.small-image {
  height: 110px;
  width: 110px;
}
.large-image {
  width: 350px;
  height: 200px;
}
.medium-font {
  font-size: 14px;
}
.content-header h3,
.content-header h5,
.content-body p {
  margin: 0px;
  margin-left: 10px;
  padding-top: 2px;
}
.content-header h3,
.content-body p {
  margin-top: 15px;
}
.content-header h5,
.content-body p {
  color: rgba(0, 0, 0, 0.54);
}
.card-body {
  padding: 0px 8px 8px 8px;
}
.text-over-media {
  position: absolute;
  top: 130px;
}
.text-over-media h3,
.text-over-media h5 {
  color: white;
}
.footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.footer-left-sec {
  display: flex;
}
.footer-right-sec {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 1.5rem;
}
.transparent-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
.action-btn {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  color: rgb(98, 0, 238);
}
.action-icon {
  padding: 0.5rem;
  border-radius: 50%;
}
.action-icon:hover,
.action-btn:hover,
.header:hover {
  background-color: var(--background-color);
  cursor: pointer;
}
